body{
	width:90%;
	margin:auto;
	font-size:120%;
}

h1{
	color:red;
	text-align:center;
}

/*canvas{
	background-color:rgba(128,128,128,0.1);
}*/

table{
	width:85%;
	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
}

th,td{
	border: 1px inset black;
	text-align:center;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #00743F;
    color: white;
}

select,button {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size:150%;
}


button{
	background-color: #72A2C0;
	border-radius: 4px;
	color:white;
}
button:hover{
	cursor:pointer;
	background-color: #1D65A6;	
}
input[type=checkbox],select:hover{
	cursor:pointer;			
}
 
input[type=checkbox]:hover{
	cursor:pointer;
}
