body{
	width:80%;
	margin:auto;
}

header h1{
	text-align:center;
	color:red;
}

table{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
}


th, td {
    text-align: left;
    padding: 8px;
}

canvas{
	margin : 40px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

select,button {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
button:hover, input[type=radio],select:hover{
	cursor:pointer;			
}
 
input[type=checkbox]:hover{
	cursor:pointer;
}
