*{
    margin:0;
    padding:0; 
    }
html, body { height: 100%; width: 100%; }
canvas { display: block; }

table{
	width:75%;
	margin-left:auto;
	margin-right:auto;
	border-collapse: collapse;
}


th, td {
    text-align: left;
    padding: 8px;
}

canvas{
	background-color:rgba(128,128,128,0.2);
	margin : 40px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

select,button {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size:150%;
}

button{
    background-color:#A7414A;
    color:white;
    font-size:140%;
}
 
button:hover, input[type=radio],select:hover{
	cursor:pointer;			
}
